/*Common Styling*/
body{
    font-family: arial;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    /*font-family: 'Raleway', sans-serif;*/
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
}

input, textarea{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  color: white;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
}

#container{
  width: 100%;
  height: 98%;
  overflow-y: auto;
  z-index: 10;
  position: relative;
}

#content{
  height: 85%;
  margin-top: 50px;
  position: relative;
  right: 0;
  left: 0;
  z-index: -1;
  display:block;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

/*SECTIONS*/
.section{
  color: white;
  width: 50%;
  margin: 0 auto; 
  position: relative;
  margin-bottom: 50px;
}

.title{
  text-align: center;
  padding-top: 150px;
}

#home{
  height: 100vh;
  margin-bottom: 0px;
}

/*LIFE*/
.intro{
  font-size: 12px;
  text-align: justify;
  text-justify: inter-word;
}

/*PROJECTS*/
.grid-item { 
  width: 200px;
  cursor: pointer;
}

.grid-item:hover{
  opacity: 0.8;
}

.grid-item img{
  width: 100%;
}

.modals{
  display: none;
}

.modal-mask{
  width: 100%;
  height: 100%;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.modal{
  width: 60%; /* Full width */
  height: 70%; /* Full height */
  overflow-y: auto; /* Enable scroll if needed */
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;
}

.modal-content {
  padding: 10px;
  font-size: 12px;
}

.modal-content img{
  width: 50%;
}

.modal-points{
  width: 50%;
  float: left;
} 

.modal-gallery{
  width: 40%;
  float: right;
  white-space: nowrap;
} 

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*CONTACT*/
#contact{
  margin-bottom: 200px;
}

.contact-social{
  display: flex;
}

.contact-social div, .contact-social a{
  font-size: 16pt;
  margin-bottom: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

.contact-social div:hover{
  font-weight: bolder;
}

.love{
  text-align: center;
  font-size: 12px;
}

#bg-mountains{
  position: fixed;
  width: 100%;
  bottom: 0;
  pointer-events: none;
  z-index: 10;
  right: 0;
}

/*Remove margins and padding from the list, and add a black background color */
ul.nav-top {
  list-style-type: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  opacity: 0%;
  z-index: 10;
  background-color: black;
}

/*Float the list items side by side */
ul.nav-top li {float: left;}

/* Style the links inside the list items */
ul.nav-top li a {
  display: inline-block;
  color: lightgrey;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/* Change color of links on hover */
ul.nav-top li a:hover {
  color: white;
}

ul.nav-top li .active {
  color: white;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.nav-top li.icon {background-color: none; display: none;}


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.nav-top li {display: none;}
  ul.nav-top li.icon {
    float: left;
    display: inline-block;
  }
  ul.nav-top.responsive {
    position: fixed; 
    background: transparent;
  }
  ul.nav-top.responsive li.icon {
    left: 0;
    top: 0;
  }
  ul.nav-top.responsive li {
    float: none;
    display: inline;
  }
  ul.nav-top.responsive li a {
    display: block;
    text-align: left;
    background-color: black;
    margin: 0;
  }
  .section, .modal{
    width: 80%;
  }
  .modal-points, .modal-gallery, .grid-item{
    width: 100%;
  } 
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  /*background-color: rgba(255, 255, 255, 1);*/
  background-color: white;
  border-radius: 10px;
}