/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');


/* GENERAL STYLES */
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
}

p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px; 
	line-height: 28px;
	color: #666; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
	overflow-x: none;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.portfolio-summary {padding-top: 80px; padding-bottom: 40px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #4d7298;
	font-weight: bold;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
	padding: 0px !important;
	margin: 0px;
}

/* HOMEPAGE HEADER */
#h {
	background: #b3d89c;
	padding-top: 5px;
	background-attachment: relative;
	background-position: center center;
	min-height: 90%;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#h h3 {
	margin-top: 10px;
}

#h i {
	font-size: 50px;
}

.logo {
	margin-top: 30px;
	margin-left: 40px;
	padding-bottom: 50px;
	width: 100px;
}

.logo img{
	width: 100%;
}

.alt-font{
	font-family: 'Nothing You Could Do', cursive;
}

.img-circle {
    border-radius: 50%;
    border: solid white 4px;
}

/* ABOUT ME */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	top: 0;
	left: 0;
	padding-bottom: 10px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	position: absolute;
}

/* CONTACT */
#contact {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/coffee.jpeg) no-repeat center top;
	padding-top: 100px;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	color: white;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#contact h3 {
	font-weight: 300;
	letter-spacing: 2px;
}

.btn-conf {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 14px 28px 13px 28px;
	}

.btn-clear {
	background: transparent;
	color: white;
	border: 2px solid white;
}
.btn-clear:hover {
	background: white;
	color: #2f2f2f;
}

/* FOOTER */
#footer {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #B3D89C;
}

#footer i {
	margin-right: 10px;
	margin-left: 10px;
	font-size: 35px;
}

#footer a {
	color: white;
}

/* PORTFOLIO SECTION */
#grey {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #f5f5f5;
}

.portfolio {
	padding:0 !important;
	margin:0 !important;
	display:block;
}

.col-lg-3{
	padding: 0;
}

.portfolio-hover {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(119, 166, 182, 0.8);
	color: #fff;
	visibility: hidden;
	opacity: 0;

	/* transition effect. not necessary */
	transition: opacity .2s, visibility .2s;
}

.portfolio-hover-content{
	position: absolute;
    width: 100%;
    height: 20px;
    font-size: 18px;
    text-align: center;
    top: 35%;
    margin-top: -12px;
}

.portfolio-item{
	height: 200px;
	overflow: hidden;
	border-color: whitesmoke;
    border-style: solid;
    border-width: 5px;
}

.portfolio-item img{
	width: 100%;
    height: auto;
}

.portfolio-item:hover .portfolio-hover {
	visibility: visible;
	opacity: 1;
}

.larger {
    font-size: 250%;
}

.portfolio-content{
	text-align: center;
	padding-bottom: 50px;
}

.portfolio-content p, .portfolio-content h5{
	text-align: left;
}

.portfolio-content img{
	padding-top: 10px;
	padding-bottom:10px;
}

/* INDIVIDUAL PORTFOLIO PAGES */
.portfolio-01{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../img/portfolio-01/portfolio-01-header.jpg") no-repeat center top;
}

.portfolio-02{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../img/portfolio-02/portfolio-02-header.png") no-repeat center top;
}

.portfolio-03{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../img/portfolio-03/everest-home.png") no-repeat center top;
}

.portfolio-04{
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url("../img/portfolio-04/portfolio-04-header.jpg") no-repeat center top;
}

.portfolio-07{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../img/portfolio-07/portfolio-07-header.jpg") no-repeat center top;
}

#portfolioHeader {
	padding-top: 5px;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#portfolioHeader h3 {
	margin-top: 30px;
	letter-spacing: 1px;
}

/* READ MORE ARROW */
#arrow a {
  padding-top: 70px;
}
#arrow a span {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* BOUNCE HEADER IMAGE */
#headerImg:hover {
  cursor: pointer;
  animation: bounce 1.5s;
  -moz-animation-name: bounce 1.5s;
  -webkit-animation: bounce 1.5s;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px);
	}
}

@media only screen and (max-width: 768px) {
	.logo {
		margin-top: 30px;
		margin-left: 20px;
		padding-bottom: 50px;
		width: 75px;
	}
}
